/*背景主题色*/
$mainBackgroundColor: #00AAEE;

/*背景色*/
$backgroundColor: #f3f3f3;

/*背景白色*/
$backgroundWhiteColor: #fff;

/*字体常规深色*/
$fontDarkColor: #005B80;

/*字体常规浅色*/
$fontLightColor: #7DA2B2;

/*字体激活颜色*/
$fontActiveColor: #00AAEE;

/*字体常规黑色*/
$fontBlackColor: #333;

/*导航颜色*/
$fontNavColor: #66ADCC;

/*字体订单浅色*/
$fontOrderLightColor: #A3C0CC;

/*产品图片背景色*/
$productBackgroundColor: #b7b7b7;

/*错误提示*/
$errorColor: #ED2F78;

/*输入框底部框*/
$inputBottomColor: #e0e0e0;

/*按钮颜色*/
$buttonColor: #0088be;

/*按钮选中状态box-shadow*/
$buttonActiveColor: #00AAEE;

/*mark字体颜色*/
$fontMarkColor: #50596c;