$mainBackgroundColor: #00AAEE;

$backgroundColor: #f3f3f3;

$backgroundWhiteColor: #fff;

$fontWhiteColor: #fff;

$fontDarkColor: #005B80;

$fontLightColor: #7DA2B2;

$fontActiveColor: #00AAEE;

$fontBlackColor: #333;

$fontNavColor: #66ADCC;

$fontOrderLightColor: #A3C0CC;

$productBackgroundColor: #b7b7b7;

$errorColor: #ED2F78;

$inputBottomColor: #e0e0e0;

$buttonColor: #0088be;

$buttonActiveColor: #00AAEE;

$buttonBoxShadow: rgba(87, 100, 198, .15);

$fontMarkColor: #50596c;

$fontOrangeFont: #ff7800;