@import "base";

.container{
	.btn{
		-webkit-appearance: none;
		  -moz-appearance: none;
		  appearance: none;
		  background: #fff;
		  border: .1rem solid $buttonColor;
		  border-radius: .4rem;
		  color: $buttonColor;
		  cursor: pointer;
		  display: inline-block;
		  font-size: 1.4rem;
		  height: 3.2rem;
		  line-height: 2rem;
		  outline: none;
		  padding: .5rem .8rem;
		  text-align: center;
		  vertical-align: middle;
		  text-decoration: none;
		  transition: all .2s ease;
		  -webkit-user-select: none;
		  -moz-user-select: none;
		  -ms-user-select: none;
		  user-select: none;
		  vertical-align: middle;
		  white-space: nowrap;
	}
  .btn:focus,.btn:hover,.btn:active,.btn.active {
    background: $buttonActiveColor;
    text-decoration: none;
  }
  .btn:focus{
    box-shadow: 0 0 0 .2rem $buttonBoxShadow;
    color: $fontWhiteColor;
  }
  .btn:hover {
    color: $fontWhiteColor;
    border-color: #4c59c2;
  }
  .btn:active,
  .btn.active {
    color: $fontWhiteColor;
    border-color: #3e4cb6;
  }
  .btn[disabled],
  .btn:disabled,
  .btn.disabled {
    cursor: default;
    opacity: .5;
    pointer-events: none;
  }
  .btn.btn-link {
    background: transparent;
    border-color: transparent;
    color: #5764c6;
  }
  .btn.btn-link:focus,
  .btn.btn-link:hover,
  .btn.btn-link:active,
  .btn.btn-link.active {
    color: #3b49af;
    border-color: transparent;
  }

  /**================================================================================================
  *
  ==================================================================================================*/
  .btn-group,
  .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .btn-group > .btn,
  .btn-group-vertical > .btn {
    position: relative;
    float: left;
  }
  .btn-group > .btn:hover,
  .btn-group-vertical > .btn:hover,
  .btn-group > .btn:focus,
  .btn-group-vertical > .btn:focus,
  .btn-group > .btn:active,
  .btn-group-vertical > .btn:active,
  .btn-group > .btn.active,
  .btn-group-vertical > .btn.active {
    z-index: 2;
  }
  .btn-group .btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .btn-group .btn:not(:first-child):not(:last-child) {
    border-radius: 0;
    margin-left: -.1rem;
  }
  .btn-group .btn:last-child:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: -.1rem;
  }
}