@import "base";

/**=============================================================================================================
 *
 *
 =============================================================================================================*/

.container{
  .row{
    &:before,&:after{
      clear: both;
      content: "";
      display: table;
    }
    padding: 0 1rem;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 60rem;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 98rem;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 130rem;
  }
}
.column{
  padding: 0 .8rem;
  max-width: 100%;
}
.col-12,
.col-11,
.col-10,
.col-9,
.col-8,
.col-7,
.col-6,
.col-5,
.col-4,
.col-3,
.col-2,
.col-1{
  float: left;
  min-height: 1px;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1 {
  width: 8.33333333%;
}