@import "base";

.container{
  span.label,small.label{
    display: inline-block;
    background-color: $buttonActiveColor;
    color: #fff;
    border-radius: .2rem;
    line-height: 1.42857143;
    padding: .2rem .4rem;
    vertical-align: baseline;
  }
  span.label.label-success,small.label.label-success{
    background: $successColor;
    color: $fontWhiteColor;
  }
  span.label.label-warning,small.label.label-warning{
    background: warningColor;
    color: $fontWhiteColor;
  }
  span.label.label-error,small.label.label-error{
    background: $errorColor;
    color: $fontWhiteColor;
  }
}

